<article class="we-work">
  <h4 class="subtitle mb-4">¿Para quién trabajamos?</h4>
  <section class="we-work__list">
    <div class="we-work__card">
      <span>Particular</span>
      <span>
        Transforma tu hogar en una obra de arte. Murales y pisos personalizados
        para salas, dormitorios, cocinas y más.
      </span>
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="we-work__card">
      <span>Institucional</span>
      <span>
        Renueva museos, hospitales y dependencias públicas con imágenes que
        inspiren y embellezcan cada espacio.
      </span>
      <i class="fa-solid fa-building"></i>
    </div>
    <div class="we-work__card">
      <span>Comercial</span>
      <span>
        Transforma restaurantes, corporativos, locales y flotillas con nuestros
        diseños personalizados para dar visibilidad y destacar tu negocio.
      </span>
      <i class="fa-brands fa-shopify"></i>
    </div>
    <div class="we-work__card">
      <span>Gliceé</span>
      <span>
        Reproducimos obras auténticas con certificación y firma manual del
        artista, asegurando calidad y autenticidad.
      </span>
      <i class="fa-solid fa-pen-fancy"></i>
    </div>
  </section>
  <app-border-button name="Contáctanos" (click)="redirection()" />
</article>
<div id="why-choose"></div>
