.we-work {
  padding: 1rem;
  margin-bottom: 5rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 1px #000;
    > span:first-child,
    i {
      font-weight: 600;
      font-size: 2rem;
    }
    &:nth-child(odd) {
      background-color: #f7ee32;
    }
    &:nth-child(even) {
      background-color: #eb118a;
      color: #fff;
    }
  }
}
