@use "../../../styles/mixins" as *;

.title-content {
  display: grid;
  padding: 1rem;
  @include screen(med-small) {
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
    > button {
      justify-self: start;
      font-size: 1.5rem;
    }
  }
  &__text {
    position: relative;
  }
  &__badge {
    position: absolute;
    transform: rotate(345deg);
    background-color: var(--yellow);
    padding: 0 1rem;
    border-radius: 50px;
    border: 2px solid #000;
    font-weight: bold;
    @include screen(med-small) {
      font-size: 1.5rem;
    }
  }
  &__title {
    margin-top: 2.5rem;
    font-weight: 400;
    letter-spacing: 8px;
    > span,
    strong {
      font-size: 3.12rem;
    }
    @include screen(med-small) {
      margin-top: 3rem;
      > span,
      strong {
        font-size: 5rem;
      }
    }
  }
  &__info {
    background-image: url(./../../../assets/images/layerstyle.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: -4px;
    @include screen(med-small) {
      font-size: 1.5rem;
      background-size: 170px;
      background-position-y: 0px;
    }
  }
  &__image {
    margin: 0 auto;
    max-width: 35rem;
    @include screen(small) {
      aspect-ratio: 1/1;
    }
    @include screen(med-small) {
      grid-row: 1/4;
      grid-column: 2;
    }
  }
  &__button {
    border: 1px solid #000;
    box-shadow: 4px 4px 1px #000;
    max-width: fit-content;
    justify-self: center;
    height: fit-content;
  }
  &__banner-img {
    height: calc(7rem + 5vw);
    > img {
      height: 100%;
    }
    @include screen(med-small) {
      margin-top: -4rem;
    }
  }
}
