<article class="title-content">
  <div class="title-content__text">
    <span class="title-content__badge">Somos</span>
    <h1 class="title-content__title">
      <span>Wall</span>
      <strong>Print</strong>
    </h1>
    <p class="title-content__info">
      Transformamos tus espacios con impresión personalizada en calidad HD sobre
      murales y pisos
    </p>
  </div>
  <figure class="title-content__image">
    <img src="./assets/images/title-logo.webp" alt="title" />
  </figure>
  <a href="#form" class="btn title-content__button"> Cuéntanos tu idea </a>
</article>
<div id="our-work"></div>
<div class="title-content__banner-img">
  <img src="./assets/images/banner.webp" alt="banner" />
</div>
