<footer class="footer">
  <article class="footer__content">
    <div class="footer__content-logo">
      <div>
        <img src="./assets/images/logo-footer.png" alt="logo" />
        <span class="text-center d-block">wallprint</span>
      </div>
    </div>
    <span class="text-center">Renueva tus espacios</span>
    <div class="footer__info">
      <span>Dirección principal</span>
      <span>Ignacio M. Altamirano 7, oficina 11, ex Hda de Sta Mónica</span>
      <span>Tlalnepantla, Edo de Mex.</span>
      <span>Cp 54050, México</span>
      <div class="d-flex gap-3 my-4">
        <a
          href="https://www.facebook.com/profile.php?id=61564415889273"
          target="_blank"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/wallprint.mx/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="mailto:ventas@wallprint.mx" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
      <span>© 2024 Wallprint, Inc. All Rights Reserved</span>
    </div>
  </article>
</footer>
