<article class="make-space">
  <h4 class="subtitle mb-4">¡Haz que tus espacios digan WOW!</h4>
  <p class="text-center">
    Explora nuestra galería y déjate inspirar por nuestras creaciones. En
    WallPrint, tu satisfacción es nuestra máxima prioridad. Transformamos tus
    ideas en realidad con arte y creatividad.
  </p>
  <section class="make-space__list">
    <img src="./assets/images/space/space1.jpg" alt="space1" />
    <img src="./assets/images/space/space2.jpg" alt="space2" />
    <img src="./assets/images/space/space3.jpg" alt="space3" />
    <img src="./assets/images/space/space6.jpg" alt="space6" />
    <img src="./assets/images/space/space5.jpg" alt="space5" />
    <img src="./assets/images/space/space4.jpg" alt="space4" />
    <img src="./assets/images/space/space7.jpg" alt="space7" />
    <span>Transforma tu espacio llenando el formulario...</span>
  </section>
</article>
