<article class="subscribe">
  <div>
    <h4 class="subtitle text-start">
      <i class="fa-regular fa-envelope"></i>
      Suscribirme
    </h4>
    <span>
      Recibe ocasionalmente recursos de diseño por correo electrónico
    </span>
  </div>
  <div>
    <div class="input-group subscribe__input">
      <input
        type="text"
        class="form-control"
        placeholder="Introduzca su e-mail"
      />
      <button type="button" class="btn">Suscribirme</button>
    </div>
    <span>
      Al suscribirse, acepta las Condiciones de uso, nuestra Política de
      privacidad y nuestro Aviso de recopilación de información.
    </span>
  </div>
</article>
