<article class="our-work">
  <h4 class="subtitle mb-4">Nuestro trabajo</h4>
  <section class="our-work__list">
    <div class="our-work__card">
      <img src="./assets/images/murals.png" alt="murals" />
      <button type="button" class="btn">
        Murales
        <i class="fa-solid fa-right-long"></i>
      </button>
      <p>
        Transformamos tus espacios con murales artísticos. Elige el diseño que
        más se adapte a tu gusto.
      </p>
    </div>
    <div class="our-work__card">
      <img src="./assets/images/floors.png" alt="floors" />
      <button type="button" class="btn">
        Pisos
        <i class="fa-solid fa-right-long"></i>
      </button>
      <p>
        Renovamos tus pisos con impresiones personalizadas. Selecciona el diseño
        que mejor refleje tu estilo.
      </p>
    </div>
    <div class="our-work__card">
      <img src="./assets/images/others.png" alt="others" />
      <button type="button" class="btn">
        Otros usos
        <i class="fa-solid fa-right-long"></i>
      </button>
      <p>
        Dale vida a tus vehículos comerciales con diseños únicos que destaquen
        tu marca. Personaliza tus espacios en cualquier superficie.
      </p>
    </div>
  </section>
</article>
