@use "../../../styles/mixins" as *;

.before-after {
  padding: 2rem 1rem 7rem;
  background-image: url(../../../assets/images/before-after.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__carousel {
    width: 80%;
    margin: 4rem auto;
  }
  &__images {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: calc(200px + 12vw);
    margin: 0 auto;
    > img {
      height: 100%;
    }
    @include screen(small) {
      height: 277px;
    }
  }
}
