<div class="why-choose">
  <h4 class="subtitle mb-4">¿Por qué elegir WallPrint?</h4>
  <article class="why-choose__content">
    <div class="why-choose__card">
      <span>Proceso Inicial</span>
      <span> Te ayudamos a elegir la imagen que mejor te represente. </span>
      <div># 01</div>
    </div>
    <div class="why-choose__card">
      <span>Calidad Superior</span>
      <span>
        Utilizamos materiales de la más alta calidad para garantizar durabilidad
        y belleza.
      </span>
      <div># 02</div>
    </div>
    <div class="why-choose__line">
      <img src="./assets/images/line.png" alt="line" />
    </div>
    <div class="why-choose__card">
      <span>Impacto Visual</span>
      <span>
        Nuestras impresiones en HD crean un efecto WOW en cualquier espacio.
      </span>
      <div># 03</div>
    </div>
    <div class="why-choose__card">
      <span>Soporte Integral</span>
      <span>
        Acompañamos a nuestros clientes en todo el proceso, desde la impresión
        hasta el resultado final garantizado.
      </span>
      <div># 04</div>
    </div>
    <img src="./assets/images/choose.png" alt="choose" />
  </article>
</div>
