<div class="faqs">
  <article class="faqs__content">
    <div class="card">
      <div class="card-body">
        <h4 class="faqs__card-title">FAQs</h4>
        <div class="faqs__card-title-border"></div>
        <div ngbAccordion>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>01</span> ¿Cuál es el proceso para crear un mural
                personalizado con WallPrint?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Comenzamos con una consulta inicial para entender tus
                  necesidades y la imagen que deseas imprimir. Corroboramos que
                  la imagen que nos proporcionas tenga la calidad necesaria para
                  una impresión correcta. Imprimimos el mural con materiales de
                  alta calidad. Finalmente, revisamos el resultado contigo para
                  asegurarnos de que todo esté perfecto.
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>02</span> ¿Qué tipo de superficies pueden ser decoradas
                con nuestras impresiones?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Podemos imprimir murales en una variedad de superficies,
                  incluyendo paredes, madera, pisos, vidrio, PVC, ladrillo y
                  más. Si tienes una superficie específica en mente que no está
                  en la lista, contáctanos para discutir tus necesidades.
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>03</span> ¿Cuál es el tamaño máximo que pueden tener los
                murales?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  El ancho máximo para nuestros murales es de 4 metros. No hay
                  restricciones específicas para el largo, lo que nos permite
                  adaptarnos a diversas necesidades y espacios. Si tienes un
                  proyecto especial con dimensiones mayores, contáctanos para
                  explorar posibles soluciones.
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>04</span> ¿Qué tipos de proyectos realiza WallPrint?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Trabajamos en una amplia gama de proyectos, desde murales
                  personalizados para hogares hasta decoraciones institucionales
                  para museos, hospitales y dependencias públicas. También
                  ofrecemos servicios especializados para vehículos comerciales
                  y reproducimos obras de arte certificadas por artistas.
                  Además, realizamos impresiones en puertas, mesas o cualquier
                  superficie en tu hogar u oficina. Sea cual sea tu necesidad,
                  estamos aquí para ayudarte a transformar y renovar tu espacio.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="faqs__info">
      Para más información o si tienes otras preguntas, contáctanos
      directamente. ¡Estamos aquí para ayudarte!
    </p>
  </article>
</div>
