<article class="form">
  <h4 class="subtitle mb-4">Contáctanos y cuéntanos tu idea</h4>
  <form class="form__inputs" [formGroup]="form">
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre Completo"
        formControlName="full_name"
      />
    </div>
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Correo Electrónico"
        formControlName="email"
      />
    </div>
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Teléfono"
        formControlName="phone"
      />
    </div>
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Colonia"
        formControlName="city"
      />
    </div>
    <div ngbDropdown>
      <div class="form__content-input">
        <div></div>
        <button
          type="button"
          class="btn form-control"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ form.controls["project_type"].value || "Tipo de Proyecto" }}
        </button>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Particular', 'project_type')"
        >
          Particular
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Institucional', 'project_type')"
        >
          Institucional
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Especialidades', 'project_type')"
        >
          Especialidades
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Gliceé', 'project_type')"
        >
          Gliceé
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Otros', 'project_type')"
        >
          Otros
        </button>
      </div>
    </div>
    <div ngbDropdown>
      <div class="form__content-input">
        <div></div>
        <button
          type="button"
          class="btn form-control"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ form.controls["surface_type"].value || "Tipo de Superficie" }}
        </button>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Pared', 'surface_type')"
        >
          Pared
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Madera', 'surface_type')"
        >
          Madera
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Piso', 'surface_type')"
        >
          Piso
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Vidrio', 'surface_type')"
        >
          Vidrio
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('PVC', 'surface_type')"
        >
          PVC
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Ladrillo', 'surface_type')"
        >
          Ladrillo
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Otros', 'surface_type')"
        >
          Otros
        </button>
      </div>
    </div>
    <div ngbDropdown>
      <div class="form__content-input">
        <div></div>
        <button
          type="button"
          class="btn form-control"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ form.controls["floor"].value || "¿Es planta baja o planta alta?" }}
        </button>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Planta baja', 'floor')"
        >
          Planta baja
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Planta alta', 'floor')"
        >
          Planta alta
        </button>
      </div>
    </div>
    <div ngbDropdown>
      <div class="form__content-input">
        <div></div>
        <button
          type="button"
          class="btn form-control"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{
            form.controls["exterInter"].value || "¿Es para exterior o interior?"
          }}
        </button>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Exterior', 'exterInter')"
        >
          Exterior
        </button>
        <button
          type="button"
          ngbDropdownItem
          (click)="onSelectItem('Interior', 'exterInter')"
        >
          Interior
        </button>
      </div>
    </div>
    <strong>Dimensiones del mural</strong>
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Ancho (en metros, máximo 4m)"
        formControlName="width"
      />
    </div>
    <div class="form__content-input">
      <div></div>
      <input
        type="text"
        class="form-control"
        placeholder="Largo x Alto"
        formControlName="length"
      />
    </div>
    <div class="form__content-textarea">
      <div></div>
      <textarea
        name=""
        id=""
        class="form-control"
        cols="30"
        placeholder="Descripción de tu idea"
        formControlName="description"
      ></textarea>
    </div>
    <app-border-button
      class="mt-4"
      name="Enviar"
      [disabled]="loading"
      (click)="onPostForm()"
    />
  </form>
</article>
